
* {
  font-family: 'Mukta Mahee', sans-serif;
}


html {
  height: 100%;
}

body {
  margin:0px;
  min-height: 100%;
}

h1 {
  margin: 0px;
  padding: 10px;
  text-align: left;
  font-size: 40px;
}

p {
  margin: 0px;
  padding: 5px;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
}

#header {
  background-color: #F5F5F5;
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
}

#menu {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu-header {
  display: none;
}

ul.nav-items {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

li.header-nav-item {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 1.2em;
}

#logo {
  font-family: 'Raleway', sans-serif;;
  display: flex;
  align-items: center;
  font-size: 3.5em;
}

#name-logo a {
  font-family: 'Raleway', sans-serif;;
  /* Push up against the monkey */
  margin-left: -18px;
}

#monkey img {
    height: 70px;
    float: left;
    padding-top: 35px;
}

#content {
  background-color: rgba(255,255,255,0.7);
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.post-date {
  color: darkgray;
}

#map-canvas {
  padding: 0;
  height: 400px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#toggle-menu {
  display: none;
}

#toggle-label {
  display: none;
}

#xwd {
  height: 400px;
  width: 400px;
  display: inline-block;
  float: left;
}

#hidden-input {
    height: 1px;
    width: 1px;
    /* ensure it appears behind the crossword canvas */
    z-index: -1;
}

@media (max-width: 400px) {
  #xwd {
    width: 90vw;
    height: 90vw;
  }
}

#cluediv {
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}

.clue-text {
  cursor: pointer;
}

#all-clues {
  display: block;
}

.clue-container {
  width: 300px;
  display: inline-block;
}

.clue-header {
  border: 1px solid black;
}

/* Less wide than the default width of the content */
@media (max-width: 800px) {
  #content {
    width: 90%;
  }

  #menu {
    width: 90%;
    height: 80px;
  }

  #logo {
    font-size: 2em;
  }

}


/* Probably a phone or tablet. Use the hamburger menu. */
@media (max-width: 650px) {
 nav {
    transform: translateY(0);
    box-shadow: 0 0 5px rgba(0,0,0, .7);
    transition: all .5s;
    background: white;
    padding: 0 0 0 0;
    position: fixed;
    top: 0;
    right: 0;
    /* Extend menu for cases where screen can lengthen unexpectedly. */
    height: 120%;
    width: 150px;
    text-align: center;
    overflow: scroll;
    /* Make sure it's on top */
    z-index: 1000;
  }

  nav img {
    display: block;
    max-width: 30%;
    position: absolute;
    top: 10px;
    right: 15px;
  }

  #menu-header  {
    height: 60px;
    padding-right: 40px;
    display: block;
    border-bottom: 1px solid #E5E5E5;
  }

  #menu-header a {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    line-height: 3.1;
  }

  ul.nav-items {
    padding: 0 0 0 0;
  }

  li.header-nav-item {
    padding: 0 0 0 0;
    float: none;
    height: 40px;
    font-size: 1.2em;
    line-height: 2.1;
    border-bottom: 1px solid #E5E5E5;
  }

  #toggle-label {
    display: block;
    background: url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png);
    background-size: contain;
    height: 40px;
    width: 40px;
  }

 input[type="checkbox"]:checked + nav {
  transform: translateX(100%);
  transition: all .3s;
 }
}
