
* {
  font-family: 'Mukta Mahee', sans-serif;
}

body {
  margin:0px;
}

h1 {
  margin: 0px;
  padding: 10px;
  text-align: left;
  font-size: 40px;
}

p {
  margin: 0px;
  padding: 5px;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
}

.header {
  background-color: #F5F5F5;
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
}

.menu {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img.embed {
  padding: 0px;
  border: 1px solid black;
  width: 600px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul.nav {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

li.header-nav-item {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}


#logo {
  font-family: 'Raleway', sans-serif;;
  display: inline-flex;
  font-size: 4em;
}

#name-logo a {
  font-family: 'Raleway', sans-serif;;
}

#monkey {
  height: inherit;
}

#monkey img {
    height: 60px;
    max-width: 100%;
    float: left;
    padding-top: 40px;
}

.main {
  float: left;
  width: 100%;
}

.content {
  padding: 20px;
  background-color: rgba(255,255,255,0.7);
  border-radius: 5px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.post-date {
  color: darkgray;
}

#map-canvas {
  height: 400px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 0;
}
