<div id="header">
  <header id="topbar">
    <div id="sig-banner">
      <a id="sig-link" href="index.html">
        <img src="../img/sig.jpg" id="sig-img">
      </a>
    </div>
    <label for="css-toggle-menu" id="css-toggle-label"></label>
    <input type="checkbox" id="css-toggle-menu" name="css-toggle-menu" checked>
    <nav class="header-nav" id="top-links">
      <a class="nav-item" href="art.html">Art</a>
      <a class="nav-item" href="photos.html">Photography</a>
      <a class="nav-item" href="contact.html">Contact</a>
    </nav>
  </header>
</div>
