
<!DOCTYPE html>
<html>
    {% include liz-head.html %}
  <body>
    {% include liz-top.html %}
    <div id="main">
      <div id="sidebar">
        <ul class="vert-list" id="side-links">
          <li class="vert-list-item"><a href="art.html">Art</a></li>
          <li class="vert-list-item"><a href="photos.html">Photography</a></li>
          <li class="vert-list-last"><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
