<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Will Rogers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, user-scalable=no">
    <!-- Black colour them on Android. -->
    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="shortcut icon" href="favicon.ico?">
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee%7CRaleway" rel="stylesheet">
    {% for js_name in page.extra_js %}
      <script type="text/javascript" src="{{ js_name }}"></script>
    {% endfor %}
  </head>
  <body id=background>
    <div id="wrapper">
      <div id="header">
        <div id="menu">
          <div id="logo">
            <div id="monkey">
              <img src="/static/monkey.png" alt="monkey">
            </div>
            <div id="name-logo">
              <a href="/index.html">Will Rogers</a>
            </div>
          </div>
          <label id="toggle-label"></label>
          <input type="checkbox" id="toggle-menu" name="toggle-label" checked>
          <nav>
            <div id="menu-header">
              <a href="/index.html">WR</a>
              <img src="/static/monkey.png" alt="monkey">
            </div>
            <ul class="nav-items">
              <li class="header-nav-item"><a href="/index.html">Blog</a></li>
              <li class="header-nav-item"><a href="/about.html">About</a></li>
              <li class="header-nav-item"><a href="https://twitter.com/wrgrs">Twitter</a></li>
              <li class="header-nav-item"><a href="https://github.com/willrogers">Github</a></li>
              <li class="header-nav-item"><a href="/links.html">Links</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div id="main">
        <div id="content">
          {{ content }}
        </div>
      </div>
    </div>
    <script>
      var checkbox = document.querySelector("#toggle-menu");
      var background = document.querySelector("#background");
      background.addEventListener("click", hideMenu, false);
      var ham = document.querySelector("#toggle-label");
      ham.addEventListener("click", showMenu, true);
      function hideMenu(e) {
        if (e.target.id !== "toggle-menu") {
          if (checkbox.checked === false) {
            checkbox.checked = true;
          }
        }
        document.body.style.overflow = "auto";
      }
      function showMenu(e) {
        if (checkbox.checked === true) {
          checkbox.checked = false;
        }
        e.stopPropagation();
        document.body.style.overflow = "hidden";
      }
    </script>
  </body>
</html>
